$body-background-color: #fff;
$sidebar-color: #d8f5fc;
$border-color: #fff;

$body-text-color: #0a0a0a;
$body-heading-color: #0a0a0a;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: #0a0a0a;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

// $code-background-color: $grey-dk-250;
$search-background-color: #fff;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
